@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Mono');
html {
  overflow: hidden;
  height: 100%;
}
body {
  font-family: 'IBM Plex Mono';
  background-color: black;
  overflow: auto;
  height: 100%;
}
.App {
  text-align: center;
  overflow: hidden;
}

.container {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.video {
  position: absolute;
  top: -9999px;
  bottom: -9999px;
  left: -9999px;
  right: -9999px;
  margin: auto;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto; 
}

.content {
  position: relative;
  color: #f1f1f1;
  background-color: rgba(0, 0, 0, 0.1);
  width: 90%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
}

.sub-content {
  text-align: center;
  font-size: calc(14px + 0.6vw);
  font-weight: 500;
}
.sub-content h1 {
  color: #ffff;
  font-size: calc(8px + 3vw);
  margin: 0px;
  padding: 0px;
}
.sub-content p {
  color: #eee;
  font-size: 1rem;
  margin: 5px 0;
}

.countdown-text {
  margin-top: 25px;
  opacity: 0;
  font-size: calc(16px + 1.5vw);
  animation: fadeIn forwards 5s;
  animation-delay: 3s;
}

@keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

.milliseconds {
  max-width: 75px;
  min-width: 75px;
  padding-left: 10px;
  padding-right: 10px;
}

.chimpForms {
  margin-top: 10%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-width: 100%;
}

.chimpForms button {
    font-family: 'IBM Plex Mono';
    color: white;
    background-color: transparent;
    border: 2px solid white;
    font-size: 16px;
    padding: 5px 15px 5px 15px;
    margin: 15px 0px 10px 0px;
    animation: fadeIn forwards 10s;
}

.chimpForms input {
    font-family: 'IBM Plex Mono';
    text-align: center;
    color: white;
    font-size: 16px;
    background-color: transparent;
    border: none;
    border-radius: none;
    border-bottom: 2px solid white;
    width: 60vw;
    padding: 5px;
    animation: fadeIn forwards 10s;
}
